@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
    density: (
      scale: -2,
    ),
  )
);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme);
  }
}
